@import "tailwindcss";
@plugin "daisyui";
/* Add this in your CSS or Tailwind global styles */
@media print {
  .action-col {
    display: none !important;
  }
}
@layer base {
  :root {
    color-scheme: light;
  }
  * {
    --okpc: initial !important;
    --oklc: initial !important;
  }
}
